<div class="header">
  <button mat-icon-button color="accent" (click)="drawer.toggle()" aria-label="Example icon button with a menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <h1 class="titulo">Visualización de datos en tiempo real</h1>
</div>
<mat-drawer-container class="navbar" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side" opened>
    <p>Graficas en tiempo real</p>
    <button mat-button color="primary" [routerLink]="'/linear'" class="btn-nav">Lineal</button>
    <p>Consultar historial en base de datos</p>
    <button mat-button color="primary" [routerLink]="'/linearBD'" class="btn-nav">Lineal</button>
    
  </mat-drawer>
  <router-outlet></router-outlet>
</mat-drawer-container>
